[submodule "engine/engine"]
	path = engine/engine
	url = https://gitlab-stud.elka.pw.edu.pl/aprzyby2/game_engine.git
[submodule "game/engine/engine"]
	path = game/engine
	url = https://gitlab-stud.elka.pw.edu.pl/aprzyby2/game_engine.git
